<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="../static/css/index_style.css" />
        <title>Hiraizu-mikuji</title>
</head>

<body>
        <div class="photo">
                <div class="button">
                        <a href="/payment" class="btn btn--orange btn--cubic btn--shadow">おみくじを引く >>> </a>
                        <img src="../static/top_image6.jpg">
                        <a href="/info" class="btn btn--commerce btn--cubic btn--shadow">特定商取引法に基づく表記 </a>
                        <a href="/top_eng" class="btn btn--language btn--cubic btn--shadow">English </a>
                </div>
        </div>
</body>

</html>