<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="../static/css/index_style.css" />
        <title>Hiraizu-mikuji</title>
</head>

<body>
        <div class="photo">
                <div class="button">
                        <a href="/result_eng" class="btn btn--orange btn--cubic btn--shadow">Draw Omikuji >>> </a>
                        <img src="../static/topeng_image.png">
                        <a href="/top" class="btn btn--language btn--cubic btn--shadow">日本語 </a>
                </div>
        </div>
</body>

</html>
