<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="../static/css/index_style.css" />
        <title>Hiraizu-mikuji</title>
</head>

<body>
        <div class="photo">
                <h1>特定商取引法に基づく表記</h1>

                <h1>販売業者</h1>
                <h2>(一社)世界遺産平泉・一関DMO</h2>
                <h1>運営統括責任者名</h1>
                <h2>代表理事　松本　数馬</h2>
                <h1>郵便番号</h1>
                <h2>021-0882 </h2>
                <h1>住所</h1>
                <h2>岩手県一関市上大槻街1-5</h2>
                <h1>商品代金以外の料金の説明</h1>
                <h2>消費税は内税表示となっております。</h2>
                <h1>販売数量</h1>
                <h2>制限はありません。</h2>
                <h1>引渡し時期</h1>
                <h2>決済後すぐにご利用いただけます。</h2>
                <h1>返品・交換・キャンセル</h1>
                <h2>決済後におみくじの返品・交換・キャンセルは受け付けておりません。予めご了承下さい。</h2>
                <h1>お支払い方法</h1>
                <h2>お支払い方法はPayPay決済のみです。</h2>
                <h1>サービス名</h1>
                <h2>ひらいずみくじ</h2>
                <h1>電話番号</h1>
                <h2>0191-48-3838</h2>


        </div>
</body>

</html>